:root {
  --color-gradient: rgba(41,105,255,0.700);
  --color-gradient-second: rgba(41,105,255,0.1);
}

[data-theme="dark"] {
  --color-gradient: rgba(255,68,81,0.700);
  --color-gradient-second: rgba(255,68,81,0.1);
}

#call-to-action {
  overflow: hidden;
  background: linear-gradient(var(--color-gradient), var(--color-gradient-second)), url(/assets/img/halaman.jpg) fixed center center;
  background-size: cover;
  padding: 50px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 25px;
  transition: background 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.main-section {
  margin: 0 auto;
  margin-top: 136px;
  margin-bottom: 136px;
  padding: 0;
}

.modal-content {
  background-color: var(--color-bg-second);
  opacity: 0.95;
  padding: 0 18px;
  box-shadow:  0px 0px 3px var(--color-accent);
}

.user-img {
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px var(--color-accent);
}

.form-group {
  margin-bottom: 25px;
}

.form-group input {
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 54px;
}

.usr::before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f2bd";
  position: absolute;
  font-size: 22px;
  color: var(--color-accent);
  left: 33px;
  padding-top: 5px;
  font-weight: 900;
}

.pw::before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f084";
  position: absolute;
  font-size: 22px;
  color: var(--color-accent);
  left: 33px;
  padding-top: 5px;
  font-weight: 900;
}

.btn {
  width: 40%;
  margin: 5px 0 25px;
}